<div class="col-md-12">
    <img src="https://spark.adobe.com/images/landing/examples/blizzard-album-cover.jpg" 
    alt="cover" class="img-responsive" 
    style="width: 300px; height: 300px; object-fit: cover;">

</div>
<div class="col-md-12" style="margin-top: 15px;">
<p class="lead">Artist: </p>
<p></p>
</div>
<div class="col-md-12">
<p class="lead">Song Name: </p>
<p></p>
</div>
<div class="col-md-12">
<p class="lead">Genre: </p>
<p></p>
</div>
<div class="col-md-12 " style="margin-bottom: 15px;">
<button class="btn">Add to playlist</button>
<button class="btn">Edit</button>
<button class="btn">Delete</button>
</div>